In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset.csv')
df.head(10)

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch
5  エノが行きがかりでバスに乗ってしまい、気分が悪くなった際に助けるが、今すぐバスを降りたいと運...  Japanese
6  tsutinalar i̇ngilizce tsuutina kanadada albert...   Turkish
7  müller mox figura centralis circulorum doctoru...     Latin
8  برقی بار electric charge تمام زیرجوہری ذرات کی...      Urdu
9  シャーリー・フィールドは、サン・ベルナルド・アベニュー沿い市民センターとrtマーティン高校に...  Japanese

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Text      22000 non-null  object
 1   language  22000 non-null  object
dtypes: object(2)
memory usage: 343.9+ KB

In [6]:
df['language'].value_counts()

Estonian      1000
Swedish       1000
English       1000
Russian       1000
Romanian      1000
Persian       1000
Pushto        1000
Spanish       1000
Hindi         1000
Korean        1000
Chinese       1000
French        1000
Portugese     1000
Indonesian    1000
Urdu          1000
Latin         1000
Turkish       1000
Japanese      1000
Dutch         1000
Tamil         1000
Thai          1000
Arabic        1000
Name: language, dtype: int64

In [9]:
df['language'].unique()

array(['Estonian', 'Swedish', 'Thai', 'Tamil', 'Dutch', 'Japanese',
       'Turkish', 'Latin', 'Urdu', 'Indonesian', 'Portugese', 'French',
       'Chinese', 'Korean', 'Hindi', 'Spanish', 'Pushto', 'Persian',
       'Romanian', 'Russian', 'English', 'Arabic'], dtype=object)

In [8]:
df['language'].nunique()

22

In [3]:
from sklearn.model_selection import  train_test_split

In [4]:
x_train,x_test,y_train,y_test = train_test_split(df.Text,df.language,train_size=0.7,random_state=42,stratify=df.language)

In [5]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [6]:
cv=CountVectorizer( max_features=10000)

In [61]:
count_train = cv.fit_transform(x_train)
count_test = cv.transform(x_test)

In [62]:
count_train.shape

(15399, 10000)

In [63]:
count_train.A
#df = pd.DataFrame.sparse.from_spmatrix(vectorized_text)

array([[0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [64]:
cv.get_feature_names_out()

array(['aan', 'aantal', 'aasta', ..., '힘을', '힘이', 'ﭼﯥ'], dtype=object)

In [66]:
cv_df_train=pd.DataFrame(count_train.A,columns=cv.get_feature_names_out())
cv_df_test =pd.DataFrame(count_test.A,columns=cv.get_feature_names_out())

In [7]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

In [76]:
model=MultinomialNB()
model.fit(cv_df_train,y_train)

MultinomialNB()

In [77]:
y_pred_cv_train = model.predict(cv_df_train)
y_pred_cv_test = model.predict(cv_df_test)

print(accuracy_score(y_train,y_pred_cv_train))
print(accuracy_score(y_test,y_pred_cv_test))

0.9209039548022598
0.9198606271777003

In [11]:
tf=TfidfVectorizer(max_df=1.0, min_df=1, max_features=10000)

In [12]:
tf_train = tf.fit_transform(x_train)
tf_test = tf.transform(x_test)

In [13]:
tf_train.shape

(15399, 10000)

In [21]:
tf=TfidfVectorizer(max_df=1.0, min_df=1, max_features=30000)   #### with more featrure

tf_train = tf.fit_transform(x_train)
tf_test = tf.transform(x_test)

tf_df_train=pd.DataFrame(tf_train.A,columns=tf.get_feature_names_out())
tf_df_test =pd.DataFrame(tf_test.A,columns=tf.get_feature_names_out())

model=MultinomialNB()
model.fit(tf_df_train,y_train)

y_pred_tf_train = model.predict(tf_df_train)
y_pred_tf_test = model.predict(tf_df_test)

print(accuracy_score(y_train,y_pred_tf_train))
print(accuracy_score(y_test,y_pred_tf_test))

0.938827196571206
0.9295561278594152

In [22]:
tf=TfidfVectorizer(max_df=1.0, min_df=1, max_features=40000)   #### with more featrure

tf_train = tf.fit_transform(x_train)
tf_test = tf.transform(x_test)

tf_df_train=pd.DataFrame(tf_train.A,columns=tf.get_feature_names_out())
tf_df_test =pd.DataFrame(tf_test.A,columns=tf.get_feature_names_out())

model=MultinomialNB()
model.fit(tf_df_train,y_train)

y_pred_tf_train = model.predict(tf_df_train)
y_pred_tf_test = model.predict(tf_df_test)

print(accuracy_score(y_train,y_pred_tf_train))
print(accuracy_score(y_test,y_pred_tf_test))

0.9434378855769855
0.9318285108316922

In [23]:
tf=TfidfVectorizer(max_df=1.0, min_df=1, max_features=60000)   #### with more featrure

tf_train = tf.fit_transform(x_train)
tf_test = tf.transform(x_test)

tf_df_train=pd.DataFrame(tf_train.A,columns=tf.get_feature_names_out())
tf_df_test =pd.DataFrame(tf_test.A,columns=tf.get_feature_names_out())

model=MultinomialNB()
model.fit(tf_df_train,y_train)

y_pred_tf_train = model.predict(tf_df_train)
y_pred_tf_test = model.predict(tf_df_test)

print(accuracy_score(y_train,y_pred_tf_train))
print(accuracy_score(y_test,y_pred_tf_test))

0.9499318137541399
0.9328889562187548

In [24]:
tf=TfidfVectorizer(max_df=0.95, min_df=0.01, max_features=20000)   #### reduced feature

tf_train = tf.fit_transform(x_train)
tf_test = tf.transform(x_test)

print(tf_train.shape)

tf_df_train=pd.DataFrame(tf_train.A,columns=tf.get_feature_names_out())
tf_df_test =pd.DataFrame(tf_test.A,columns=tf.get_feature_names_out())

model=MultinomialNB()
model.fit(tf_df_train,y_train)

y_pred_tf_train = model.predict(tf_df_train)
y_pred_tf_test = model.predict(tf_df_test)

print(accuracy_score(y_train,y_pred_tf_train))
print(accuracy_score(y_test,y_pred_tf_test))

(15399, 261)
0.8253133320345477
0.8297227692773822

steps involve :
    1. tokenization (can be done on all languages)
    2. cleaning (isalpha need to check
    3. normalization
    4. stopward removal
    5. lemmantization
    6. vectorization
    7. model building

In [25]:
from nltk.tokenize import word_tokenize

In [26]:
def tozenization(data):
    tokens = word_tokenize(data)
    return tokens

In [27]:
df.Text.head(10)

0    klement gottwaldi surnukeha palsameeriti ning ...
1    sebes joseph pereira thomas  på eng the jesuit...
2    ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...
3    விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...
4    de spons behoort tot het geslacht haliclona en...
5    エノが行きがかりでバスに乗ってしまい、気分が悪くなった際に助けるが、今すぐバスを降りたいと運...
6    tsutinalar i̇ngilizce tsuutina kanadada albert...
7    müller mox figura centralis circulorum doctoru...
8    برقی بار electric charge تمام زیرجوہری ذرات کی...
9    シャーリー・フィールドは、サン・ベルナルド・アベニュー沿い市民センターとrtマーティン高校に...
Name: Text, dtype: object

In [28]:
tokenize_text=df.Text.apply(tozenization)

In [29]:
tokenize_text.head(10)

0    [klement, gottwaldi, surnukeha, palsameeriti, ...
1    [sebes, joseph, pereira, thomas, på, eng, the,...
2    [ถนนเจริญกรุง, อักษรโรมัน, thanon, charoen, kr...
3    [விசாகப்பட்டினம், தமிழ்ச்சங்கத்தை, இந்துப், பத...
4    [de, spons, behoort, tot, het, geslacht, halic...
5    [エノが行きがかりでバスに乗ってしまい、気分が悪くなった際に助けるが、今すぐバスを降りたいと...
6    [tsutinalar, i̇ngilizce, tsuutina, kanadada, a...
7    [müller, mox, figura, centralis, circulorum, d...
8    [برقی, بار, electric, charge, تمام, زیرجوہری, ...
9    [シャーリー・フィールドは、サン・ベルナルド・アベニュー沿い市民センターとrtマーティン高校...
Name: Text, dtype: object

In [30]:
tokenize_text[5]

['エノが行きがかりでバスに乗ってしまい、気分が悪くなった際に助けるが、今すぐバスを降りたいと運転手に頼む際、本当のことを言ってしまうと彼女が恥ずかしい思いをすると察して「僕ウンコしたいんです」と言ってバスを降りた。エノは内心「私もしたいみたいじゃないの」と思うも、別れ際にエノの髪を「ふわふわのお菓子みたい」と言い、この台詞に憧れていたエノに強い衝撃を与えた。この話を聞いたリコは、以後彼のことを『ウンコ王子』または『ウンコ』というあだ名で呼ぶようになったが、エノは普通に「戸田くん」と呼んでいる。']

In [32]:
tokenize_text[9]

['シャーリー・フィールドは、サン・ベルナルド・アベニュー沿い市民センターとrtマーティン高校に隣接してある。年にマーティン高校と共に建設された。ラレド独立学区のアウトドア・アスレチックがあり、毎年ボーダー・オリンピックが開催される。通常席だが、エンドゾーンに追加席を加えることで席まで拡大できる。メキシコのプロ・サッカークラブがここで様々な練習試合を行い、天然芝が「良い」サッカー試合を作るとしている。フットボール、サッカーおよび陸上競技が行われる。この歴史ある競技場に大きな改修工事が計画されている。']

In [33]:
tokenize_text.shape

(22000,)

In [50]:
def count(da):
    all_text=[]
    for  i in da:
        for j in i:
            all_text.append(j)
    return len(all_text)

In [51]:
count(tokenize_text)

1191523

In [40]:
from string import punctuation
def cleaning(data):
    cleaned = [i for i in data if i not in punctuation]
    return cleaned

In [55]:
def isalpha(data):
    isalpha = [i for i in data if i.isalpha()]
    return isalpha

In [56]:
def normalize(data):
    normalized = [i.lower() for i in data]
    return normalized

In [44]:
x_train.head()

18860    진언과 필사탁은 당초 양주 근처의 동당東塘으로 달아나려 하였으나 그때 동당을 점거한...
459      vitaminum est compositum organicum quod inest ...
10016    "inclusive democracy" entry in routledge encyc...
6331     السبب في هذا النشاط البركاني وتكوين الينابيع ا...
12500    வீனஸ் வில்லியம்ஸ் venus williams பிறப்பு- ஜூன்...
Name: Text, dtype: object

In [45]:
tokens_train = x_train.apply(tozenization)
tokens_test = x_test.apply(tozenization)

In [53]:
print(count(tokens_train))

833288

In [54]:
cleaned_train = tokens_train.apply(cleaning)
cleaned_test = tokens_test.apply(cleaning)
print(count(cleaned_train))

829322

In [57]:
alpha_train = cleaned_train.apply(isalpha)
alpha_test = cleaned_test.apply(isalpha)
print(count(alpha_train))

710293

In [78]:
cleaned_train.sample(10)

21704    [carvajal, made, his, la, liga, debut, on, aug...
13824    [ноября, года, римский, папа, иоанн, павел, ii...
7169     [harry, soref, founded, the, master, lock, com...
18341    [京成・京急・都の者での協議の結果、軌間はmmに決定。そのため、京成電鉄では全線を工程工区に...
14344    [r, इतना, बड़ा, होना, चाहिए, ताकि, d, के, माध्...
21884    [पराग, बैंक, में, पराग, कण, को, संग्रह, किया, ...
5478     [banjir, yang, terus, menerus, terjadi, membua...
9760     [سینٹرل, پارک, ٹاورز, انگریزی, central, park, ...
21271    [बीज, रोपण, समय, और, फसलों, का, चुनाव, निश्चित...
18298    [etkinlik, kadınlar, arasında, yapılan, team, ...
Name: Text, dtype: object

In [71]:
alpha_train.sample(10)  ### so we can't apply is.alpha

644                                                     []
16519    [à, des, enfants, ont, une, atteinte, bilatéra...
19321    [sob, certos, aspectos, olinda, rivalizava, co...
7159     [gs, bucher, the, origins, program, and, compo...
8275     [siyasal, bilgiler, fakültesi, mezunudur, beyo...
1943     [مختلط, اقتصاد, په, انگرېزي, ژبه, کې, mixed, e...
13525    [mängis, ta, telekanali, pbs, lühisarjas, maai...
10814                                                   []
17983    [între, timp, watson, a, redevenit, comis, voi...
10102                         [hebe, haven, பல, பல, clubs]
Name: Text, dtype: object

In [79]:
normalize_train = cleaned_train.apply(normalize)
normalize_test = cleaned_test.apply(normalize)
print(count(normalize_train))

829322

In [83]:
normalize_train.sample(5)

3068     [år, fastställdes, officiella, stadsdelar, inn...
6092     [michel, debré, étudie, à, paris, au, lycée, m...
19459    [pärast, murru, vangimaja, asutamist, aastal, ...
1110     [غير, أن, المماليك, حشدوا, صفوفهم, وهيأوا, الف...
8067     [a, lock, is, a, mechanical, or, electronic, f...
Name: Text, dtype: object

In [ ]:
### now convert to sprint again with join function

In [84]:
def join(data):
    string = ' '.join(data)
    return string

In [85]:
join_train = normalize_train.apply(join)
join_test = normalize_test.apply(join)
print(count(join_train))  ### count of all string characters

5458192

In [86]:
join_train.sample(5)

13029    답 여기서는 열반을 말하지 않아야 한다 다만 중생이 과보로서 머무를 곳만을 분별해야...
10293    oliver wendell holmes martii — martii fuit iur...
10849    itu yang membuat kiprah politiknya menjulang t...
1824     august matematicieni americani de la universit...
5387     dokuz eylül üniversitesi güzel sanatlar fakült...
Name: Text, dtype: object

In [87]:
tf=TfidfVectorizer(max_df=0.95, min_df=0.01, max_features=20000)   #### reduced feature

tf_train = tf.fit_transform(join_train)
tf_test = tf.transform(join_test)

print(tf_train.shape)

tf_df_train=pd.DataFrame(tf_train.A,columns=tf.get_feature_names_out())
tf_df_test =pd.DataFrame(tf_test.A,columns=tf.get_feature_names_out())

model=MultinomialNB()
model.fit(tf_df_train,y_train)

y_pred_tf_train = model.predict(tf_df_train)
y_pred_tf_test = model.predict(tf_df_test)

print(accuracy_score(y_train,y_pred_tf_train))
print(accuracy_score(y_test,y_pred_tf_test))

(15399, 261)
0.8253782713163192
0.8297227692773822

In [118]:
tf=TfidfVectorizer(max_df=1.0, min_df=1, max_features=20000)   #### with more featrure

tf_train = tf.fit_transform(join_train)
tf_test = tf.transform(join_test)

print(tf_train.shape)

tf_df_train=pd.DataFrame(tf_train.A,columns=tf.get_feature_names_out())
tf_df_test =pd.DataFrame(tf_test.A,columns=tf.get_feature_names_out())

model=MultinomialNB()
model.fit(tf_df_train,y_train)

y_pred_tf_train = model.predict(tf_df_train)
y_pred_tf_test = model.predict(tf_df_test)

print(accuracy_score(y_train,y_pred_tf_train))
print(accuracy_score(y_test,y_pred_tf_test))

(15399, 20000)
0.932982661211767
0.926071807301924

In [103]:
tf=TfidfVectorizer(max_df=1.0, min_df=1, max_features=20000)
tf_train = tf.fit_transform(['good quality','bad habbit'])
tf_df_train=pd.DataFrame(tf_train.A,columns=tf.get_feature_names_out())
print(tf_df_train)

model=MultinomialNB()
model.fit(tf_df_train,['pos','neg'])

y_pred_tf_train = model.predict(tf_df_train)

print(y_pred_tf_train)
print(accuracy_score(['pos','neg'],y_pred_tf_train))

        bad      good    habbit   quality
0  0.000000  0.707107  0.000000  0.707107
1  0.707107  0.000000  0.707107  0.000000
['pos' 'neg']
1.0

In [97]:
aangebracht

,aabdel,aan,aangebracht,aansluit,aansluiting,aantal,aanvallen,aasta,aastad,aastail,...,휘하의,흑마법,흑마법을,힘을,힘이,ﭘﻪ,ﭼﯥ,ﮐړﯼ,ﺍﻟﻠﻪ,ﺗﺎﺳﯽ
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.225239,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15394,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
15395,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
15396,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
15397,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
15398,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [151]:
tf_train = tf.transform(['شوي'])
tf_df_train=pd.DataFrame(tf_train.A,columns=tf.get_feature_names_out())
print(tf_df_train)

y_pred_tf_train = model.predict(tf_df_train)

print(f'predicted language is :', y_pred_tf_train)

   aabdel  aan  aangebracht  aansluit  aansluiting  aantal  aanvallen  aasta  \
0     0.0  0.0          0.0       0.0          0.0     0.0        0.0    0.0

   aastad  aastail  ...  휘하의  흑마법  흑마법을   힘을   힘이   ﭘﻪ   ﭼﯥ  ﮐړﯼ  ﺍﻟﻠﻪ  ﺗﺎﺳﯽ
0     0.0      0.0  ...  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   0.0   0.0

[1 rows x 20000 columns]
predicted language is : ['Pushto']

In [145]:
cleaned_train.sample(10)

836      [இரண்டாம், உலகப்போருக்குப்பின், சோவியத், இராணு...
1695     [スパイトフルは、イギリス空軍の主力戦闘機スピットファイアに高出力エンジンを搭載するにあたっ...
7411     [불타는, 군단burning, legion, 타락한, 티탄, 살게라스가, 세계정복을...
18981    [شمس, تبريز, بابا, يو, لوړ, سوفي, تير, شوي, ده...
15033    [balls, foi, assessor-chefe, econômico, do, te...
7893     [araneus, tenerius, este, o, specie, de, păian...
1351     [年の設立当初は、フィラデルフィアのセンターシティにキャンパスを構えていたが、年に現在の場所...
205      [de, meeste, applicatieframeworks, voor, windo...
8048     [comete, scurt, periodice, sunt, comete, ce, a...
11013    [बांग्लादेश, के, मुख्य, न्यायाधीश, का, पद, बां...
Name: Text, dtype: object

In [152]:
df.language[18981]

'Pushto'