In [1]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('dataset.csv')
df.head(10)

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch
5  エノが行きがかりでバスに乗ってしまい、気分が悪くなった際に助けるが、今すぐバスを降りたいと運...  Japanese
6  tsutinalar i̇ngilizce tsuutina kanadada albert...   Turkish
7  müller mox figura centralis circulorum doctoru...     Latin
8  برقی بار electric charge تمام زیرجوہری ذرات کی...      Urdu
9  シャーリー・フィールドは、サン・ベルナルド・アベニュー沿い市民センターとrtマーティン高校に...  Japanese

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Text      22000 non-null  object
 1   language  22000 non-null  object
dtypes: object(2)
memory usage: 343.9+ KB

In [4]:
df['language'].value_counts()

Estonian      1000
Swedish       1000
English       1000
Russian       1000
Romanian      1000
Persian       1000
Pushto        1000
Spanish       1000
Hindi         1000
Korean        1000
Chinese       1000
French        1000
Portugese     1000
Indonesian    1000
Urdu          1000
Latin         1000
Turkish       1000
Japanese      1000
Dutch         1000
Tamil         1000
Thai          1000
Arabic        1000
Name: language, dtype: int64

In [27]:
df['language'].unique()

array(['Estonian', 'Swedish', 'Thai', 'Tamil', 'Dutch', 'Japanese',
       'Turkish', 'Latin', 'Urdu', 'Indonesian', 'Portugese', 'French',
       'Chinese', 'Korean', 'Hindi', 'Spanish', 'Pushto', 'Persian',
       'Romanian', 'Russian', 'English', 'Arabic'], dtype=object)

In [28]:
df['language'].nunique()

22

In [3]:
from sklearn.model_selection import  train_test_split

In [4]:
x_train,x_test,y_train,y_test = train_test_split(df.Text,df.language,train_size=0.7,random_state=42,stratify=df.language)

In [5]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [ ]:
cv=CountVectorizer( max_features=10000)
count_train = cv.fit_transform(x_train)
count_test = cv.transform(x_test)

In [34]:
count_train.shape

(15399, 10000)

In [35]:
count_train.A
#df = pd.DataFrame.sparse.from_spmatrix(vectorized_text)

array([[0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [36]:
cv.get_feature_names_out()

array(['aan', 'aantal', 'aasta', ..., '힘을', '힘이', 'ﭼﯥ'], dtype=object)

In [37]:
cv_df_train=pd.DataFrame(count_train.A,columns=cv.get_feature_names_out())
cv_df_test =pd.DataFrame(count_test.A,columns=cv.get_feature_names_out())

In [39]:
model=MultinomialNB()
model.fit(cv_df_train,y_train)

MultinomialNB()

In [40]:
y_pred_cv_train = model.predict(cv_df_train)
y_pred_cv_test = model.predict(cv_df_test)

print(accuracy_score(y_train,y_pred_cv_train))
print(accuracy_score(y_test,y_pred_cv_test))

0.9209039548022598
0.9198606271777003

In [41]:
tf=TfidfVectorizer(max_df=1.0, min_df=1, max_features=10000)

In [42]:
tf_train = tf.fit_transform(x_train)
tf_test = tf.transform(x_test)

In [43]:
tf_train.shape

(15399, 10000)

In [44]:
tf=TfidfVectorizer(max_df=1.0, min_df=1, max_features=20000)   #### with more featrure

tf_train = tf.fit_transform(x_train)
tf_test = tf.transform(x_test)

tf_df_train=pd.DataFrame(tf_train.A,columns=tf.get_feature_names_out())
tf_df_test =pd.DataFrame(tf_test.A,columns=tf.get_feature_names_out())

model=MultinomialNB()
model.fit(tf_df_train,y_train)

y_pred_tf_train = model.predict(tf_df_train)
y_pred_tf_test = model.predict(tf_df_test)

print(accuracy_score(y_train,y_pred_tf_train))
print(accuracy_score(y_test,y_pred_tf_test))

0.9325930255211378
0.9269807604908348

In [45]:
tf=TfidfVectorizer(max_df=0.95, min_df=0.01, max_features=20000)   #### reduced feature

tf_train = tf.fit_transform(x_train)
tf_test = tf.transform(x_test)

print(tf_train.shape)

tf_df_train=pd.DataFrame(tf_train.A,columns=tf.get_feature_names_out())
tf_df_test =pd.DataFrame(tf_test.A,columns=tf.get_feature_names_out())

model=MultinomialNB()
model.fit(tf_df_train,y_train)

y_pred_tf_train = model.predict(tf_df_train)
y_pred_tf_test = model.predict(tf_df_test)

print(accuracy_score(y_train,y_pred_tf_train))
print(accuracy_score(y_test,y_pred_tf_test))

(15399, 261)
0.8253133320345477
0.8297227692773822

steps involve :
    1. tokenization (can be done on all languages)
    2. cleaning (isalpha need to check
    3. normalization
    4. stopward removal
    5. lemmantization
    6. vectorization
    7. model building

In [6]:
from nltk.tokenize import word_tokenize

In [7]:
def tozenization(data):
    tokens = word_tokenize(data)
    return tokens

In [8]:
tokenize_text=df.Text.apply(tozenization)

In [53]:
tokenize_text.shape

(22000,)

In [9]:
def count(da):
    all_text=[]
    for  i in da:
        for j in i:
            all_text.append(j)
    return len(all_text)

In [55]:
count(tokenize_text)

1191523

In [10]:
from string import punctuation
def cleaning(data):
    cleaned = [i for i in data if i not in punctuation]
    return cleaned

In [19]:
def isalpha(data):
    isalpha = [i for i in data if i.isalpha()]
    return isalpha

In [11]:
def normalize(data):
    normalized = [i.lower() for i in data]
    return normalized

In [59]:
x_train.head()

18860    진언과 필사탁은 당초 양주 근처의 동당東塘으로 달아나려 하였으나 그때 동당을 점거한...
459      vitaminum est compositum organicum quod inest ...
10016    "inclusive democracy" entry in routledge encyc...
6331     السبب في هذا النشاط البركاني وتكوين الينابيع ا...
12500    வீனஸ் வில்லியம்ஸ் venus williams பிறப்பு- ஜூன்...
Name: Text, dtype: object

In [12]:
tokens_train = x_train.apply(tozenization)
tokens_test = x_test.apply(tozenization)

In [61]:
print(count(tokens_train))

833288

In [13]:
cleaned_train = tokens_train.apply(cleaning)
cleaned_test = tokens_test.apply(cleaning)
print(count(cleaned_train))

829322

In [63]:
alpha_train = cleaned_train.apply(isalpha)
alpha_test = cleaned_test.apply(isalpha)
print(count(alpha_train))

710293

In [64]:
cleaned_train.sample(10)

18552    [pasimasunggu, timur, adalah, sebuah, kecamata...
13180    [infected, türkçe, enfekte, olan, kıyamet, son...
52       [tussen, een, kruising, in, het, westen, van, ...
2370     [inlandsklimat, råder, i, trakten, årsmedeltem...
21674    [gardaneh-ye, mandānak, persiska, گردنه, مندان...
16934    [نگاوا, تبتی, اور, چیانگ, خود, مختار, پریفیکچر...
19791    [farrington, d, p, a, predicting, adult, offic...
5414     [hispana, christianitatium, catholicorum, roma...
1785     [david, daniel, kaminsky, mer, känd, under, ar...
20710    [년융희, 년, 월, 고희경高羲敬, 정응고鄭應高, 등과, 함께, 정우회政友會를, 조...
Name: Text, dtype: object

In [65]:
alpha_train.sample(10)  ### so we can't apply is.alpha

8000     [وكونه, عبر, يلوستون, وشهد, مشاكل, إدارة, الأر...
20431    [in, hamilton, started, playing, sporadic, aco...
11348    [وی, همچنین, در, تاریخ, آوریل, اردیبهشت, در, د...
15644    [년, 월, 일, 디즈니는, 피니와, 퍼브, tv, 영화를, 제작한다고, 밝혔으며,...
16452    [georg, november, celle, aprill, hildesheim, o...
10541    [sob, o, reinado, dos, reis, carolíngios, o, f...
8622                                                    []
11260    [la, salsa, incluye, trufas, y, setas, finamen...
6259     [malgré, son, admiration, pour, de, gaulle, de...
9086     [the, paper, is, noted, as, the, last, place, ...
Name: Text, dtype: object

In [14]:
normalize_train = cleaned_train.apply(normalize)
normalize_test = cleaned_test.apply(normalize)
print(count(normalize_train))

829322

In [67]:
normalize_train.sample(5)

10265    [கிவி, kiwi, என்பது, நியூசிலாந்தில், வாழும், அ...
21323    [マキの家庭教師が結婚で辞めるのを機に塾に通わせようとする。もともと「男子がいるから」という...
16616    [年，小说的意大利出版商皮埃美（piemme）联系了胡赛尼，希望能将小说原著改编成漫画小说。...
4685     [–, sekarang, pengajarnarasumber, pada, kursus...
3673     [after, a, few, transition, years, in, india, ...
Name: Text, dtype: object

In [68]:
### now convert to sprint again with join function

In [15]:
def join(data):
    string = ' '.join(data)
    return string

In [16]:
join_train = normalize_train.apply(join)
join_test = normalize_test.apply(join)
print(count(join_train))  ### count of all string characters

5458192

In [26]:
join_train.sample(5)

17136    kiraŭsk transkribeerituna kiravsk on linn valg...
2777     پاکو تا سال قادر به خواندن نت نبود و چنان‌که د...
13468    มีประชาธิปไตยกึ่งโดยตรงบางรูปแบบ ที่ผู้แทนจะบร...
3380     لومړنۍ دنده يې په ل کې له سرکاري ملازمته پيل ک...
10891    her havaalanına ils sistemi kurulamaz havaalan...
Name: Text, dtype: object

In [17]:
tf=TfidfVectorizer(max_df=1.0, min_df=1, max_features=20000)   #### with more featrure

tf_train = tf.fit_transform(join_train)
tf_test = tf.transform(join_test)

print(tf_train.shape)

tf_df_train=pd.DataFrame(tf_train.A,columns=tf.get_feature_names_out())
tf_df_test =pd.DataFrame(tf_test.A,columns=tf.get_feature_names_out())

model=MultinomialNB()
model.fit(tf_df_train,y_train)

y_pred_tf_train = model.predict(tf_df_train)
y_pred_tf_test = model.predict(tf_df_test)

print(accuracy_score(y_train,y_pred_tf_train))
print(accuracy_score(y_test,y_pred_tf_test))

(15399, 20000)
0.932982661211767
0.926071807301924

In [73]:
tf=TfidfVectorizer(max_df=1.0, min_df=1, max_features=20000)
tf_train = tf.fit_transform(['good quality','bad habbit'])
tf_df_train=pd.DataFrame(tf_train.A,columns=tf.get_feature_names_out())
print(tf_df_train)

model=MultinomialNB()
model.fit(tf_df_train,['pos','neg'])

y_pred_tf_train = model.predict(tf_df_train)

print(y_pred_tf_train)
print(accuracy_score(['pos','neg'],y_pred_tf_train))

        bad      good    habbit   quality
0  0.000000  0.707107  0.000000  0.707107
1  0.707107  0.000000  0.707107  0.000000
['pos' 'neg']
1.0

In [32]:
### create picket files of tfidfvectorize and MultinominalNB

import pickle

file =  open('tfidfvectorize.pkl','wb')
pickle.dump(tf,file)
file.close()

In [33]:

file =  open('MultinominalNB.pkl','wb')
pickle.dump(model,file)
file.close()

In [25]:
tf_train = tf.transform(['года'])
tf_df_train=pd.DataFrame(tf_train.A,columns=tf.get_feature_names_out())
print(tf_df_train)

y_pred_tf_train = model.predict(tf_df_train)

print(f'predicted language is :', y_pred_tf_train)

   aabdel  aan  aangebracht  aansluit  aansluiting  aantal  aanvallen  aasta  \
0     0.0  0.0          0.0       0.0          0.0     0.0        0.0    0.0

   aastad  aastail  ...  휘하의  흑마법  흑마법을   힘을   힘이   ﭘﻪ   ﭼﯥ  ﮐړﯼ  ﺍﻟﻠﻪ  ﺗﺎﺳﯽ
0     0.0      0.0  ...  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0   0.0   0.0

[1 rows x 20000 columns]
predicted language is : ['Russian']

In [20]:
cleaned_train.sample(10)

4857     [-களில், விவசாயத்தை, மட்டுமே, நம்பி, இருந்த, ஆ...
16828    [«, یکی, از, شرایط, شرعی, نفوذ, اقرار, عدم, اک...
11888    [ख़ज़रेत​, सुलतान, या, हज़रत, सुलतान, अंग्रेज़...
57       [en, application, du, schéma, départemental, d...
14371    [стал, известен, в, феврале, года, когда, неза...
11623    [ஒருமுறை, முசுகுந்த, சோழனுக்கு, தீராத, தோல், ந...
2235     [tv, dizilerinde, en, i̇yi, kadın, oyuncu, alt...
3898     [-இல், நிறுவப்பட்ட, நங்கானா, சாகிபு, மாவட்டம்,...
14300    [os, escritos, de, peregrinos, indicam, que, o...
15761    [九州の事業者らしく、西日本車体工業（西工）ボディを架装する車両も多いが、年（平成年）以降は...
Name: Text, dtype: object

In [26]:
df.language[14371]

'Russian'